.one {
  color: red;
}

.one__two {
  color: blue;
}

.one__two__three {
  color: green;
}

.one__two-again {
  color: pink;
}

.one__two {
  color: red;
}

.one__two--modifier {
  color: blue;
}

.one__two__three {
  color: green;
}

.one__two__three__four {
  color: green;
}

.one__two--modifier__three {
  color: white;
}

.block {
  color: red;
}

.block__element-one {
  color: red;
}

.block__element-one__element-two {
  color: red;
}
