/* numbers only won't match */
.foo-color {
  color: #123;
}

.foo {
  background: linear-gradient(top, #cc2, #44d);
  color: #fff;
}

.bar-color {
  color: #123456;
}

.bar {
  background: linear-gradient(top, #CC2, #44D);
  color: #FFF;
}

.qux {
  color: #cC2;
}

.lower-numbers-color {
  color: #123cc2;
}

.upper-lower-color {
  color: #CCCCCc;
}

/* check that only hex colours are being parsed */

.literal-color {
  color: red;
}

.rgb-color {
  color: rgb(255, 255, 255);
}

.rgba-color {
  color: rgba(0, 0, 0, .1);
}

.hsl-color {
  color: hsl(40, 50%, 50%);
}

.hsla-color {
  color: hsla(40, 50%, 50%, .3);
}
