.foo {
  height: 100vh;
  display: block;
  width: 100vw;
  border: 1px;
}

.other-property {
  composes: heading;
  height: 100vh;
  display: block;
  width: 100vw;
  border: 1px;
}

.other-property-new {
  height: 100vh;
  display: block;
  width: 100vw;
  border: 1px;
  composes: heading;
}
